@font-face {
    font-family: 'Pokemon Solid';
    src: url('../font/Pokemon\ Solid.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --body-fonts: roboto, sans-serif;
    --main-color: #FF2633;
    --secondary-color: #E3CD00;
    --terciary-color: #1B39D3;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--body-fonts);
    width: 100vw;
}

.header {
    background-color: var(--main-color);
}

.logo-img {
    max-width: 275px;
    max-height: 130px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 140px;
    background-color: var(--main-color);
}

.header .logo-img {
    max-width: 300px;
    max-height: 150px;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(359deg);
    }
}

.rotate {
    animation: rotation 3s infinite ease-in-out;
}

.pokefont {
    font-family: 'Pokemon Solid', roboto;
}
